/*SITE HELPERS*/
$primary: #B88757; //Gold

$white: #FFFFFF; //White
$superLight: #F9F9F9; //super light grey
$light: #DEDEDE; // light grey
$darkgrey: #7B7B7B; //mid grey
$black: #040404; //black

$font-size: 16px;
$line-height: 22px;


@media (min-width: 992px) {
  $font-size: 18px;
  $line-height: 26px;
}


$light-font-weight: 300;
$font-weight: 400;
$heavy-font-weight: 600;


$btn-padding-size: 30px;
$transition-speed: 0.5s;
$gutter-size: 15px;
$logo-size: 250px;
$font-family: 'Montserrat', sans-serif !important;


//////////////////////////////////////////////////////////////
//                                                          ||
//                   HTML/Body/Containers                   ||
//                                                          ||
//////////////////////////////////////////////////////////////
html, body {
    font-size: $font-size;
    font-family: $font-family;
    margin: 0;
    font-weight: $font-weight;
    line-height: $line-height;
    color: $black;
    text-align: left;
    height: 100%;
    background-color: $black !important;
}

#main-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.container-fluid{
  padding-right: var(--bs-gutter-x,30px) !important;
  padding-left: var(--bs-gutter-x,30px)  !important;

  @media (min-width: 768px) {
    padding-right: var(--bs-gutter-x, .75rem)  !important;
    padding-left: var(--bs-gutter-x,.75rem)  !important;
  }


}

.site-container-1340 {
  padding-right: var(--bs-gutter-x,30px);
  padding-left: var(--bs-gutter-x,30px);

  @media (min-width: 768px) {
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x,.75rem);
  }
  margin: 0 auto;
  position: relative;
  max-width: 1340px;
  width: 100%;
}


.site-container-1200 {
  padding-right: var(--bs-gutter-x,30px);
  padding-left: var(--bs-gutter-x,30px);

  @media (min-width: 768px) {
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x,.75rem);
  }
  margin: 0 auto;
  position: relative;
  max-width: 1200px;
  width: 100%;
}

.site-container-992 {
  padding-right: var(--bs-gutter-x,30px);
  padding-left: var(--bs-gutter-x,30px);

  @media (min-width: 768px) {
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x,.75rem);
  }
  margin: 0 auto;
  position: relative;
  max-width: 992px;
  width: 100%;
}

//////////////////////////////////////////////////////////////
//                                                          ||
//                  HTML Utilities Class                    ||
//                                                          ||
//////////////////////////////////////////////////////////////
.ul-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.ul-reset-bull {
  margin: 0;
  padding: 0;
}

.two-column {
  @media (min-width: 1200px) {
    column-count: 2;
  }
}

.section-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparentize($black, .2);
}

.sr-only {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


.z-15 {
  position: relative;
  z-index: 15;
}

.pr-5 {
  padding-right: 2rem;
}

.image-size {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-right {
  text-align: right;
}


.h-80 {
  height: 85%;
}


//////////////////////////////////////////////////////////////
//                                                          ||
//                       Colors                             ||
//                                                          ||
//////////////////////////////////////////////////////////////
.primary-text {
  color: $primary !important;
}

.white-text {
  color: $white !important;
}

.superlight-text {
  color: $superLight !important;
}

.light-text {
  color: $light !important;
}


.darkgrey-text {
  color: $darkgrey !important;
}

.black-text {
  color: $black !important;
}

//////////////////////////////////////////////////////////////
//                                                          ||
//                  Background Colors                       ||
//                                                          ||
//////////////////////////////////////////////////////////////
.primary-bg {
  background-color: $primary !important;
}

.white-bg {
  background-color: $white !important;
}

.superlight-bg {
  background-color: $superLight !important;
}

.light-bg {
  background-color: $light !important;
}


.darkgrey-bg {
  background-color: $darkgrey !important;
}

.black-bg {
  background-color: $black !important;
}

//////////////////////////////////////////////////////////////
//                                                          ||
//                     Link Colors                          ||
//                                                          ||
//////////////////////////////////////////////////////////////
.primary-link {
  color: $primary !important;
  text-decoration: underline;
  font-weight: $heavy-font-weight !important;

  &:active,
  &:hover {
    color: $darkgrey !important;
  }
}

.primary-link-alt {
  color: $primary !important;
  text-decoration: underline;
  font-weight: $font-weight !important;

  &:active,
  &:hover {
    color: $black !important;
  }
}

//////////////////////////////////////////////////////////////
//                                                          ||
//                       Buttons                            ||
//                                                          ||
//////////////////////////////////////////////////////////////
.btn-primary {
  background-color: $primary !important;
  padding: 15px 50px;
  color: $black !important;
  border: 1px solid $primary !important;
  text-decoration: none !important;
  font-weight: $heavy-font-weight !important;
  text-transform: uppercase;
  font-size: calc(#{$font-size} * 1) !important;
  letter-spacing: 0.1em !important;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  width: 100%;
  text-align: center;

  @media (min-width: 992px) {
    width: unset;
  }


  &:focus,
  &:active,
  &:hover {
    background-color: transparent !important;
    border: 1px solid $primary !important;
    color: $primary !important;
    box-shadow: unset !important;
  }
}


.btn-primary-alt {
  background-color: transparent !important;
  padding: 15px 50px;
  color: $primary !important;
  border: 1px solid $primary !important;
  text-decoration: none !important;
  font-weight: $heavy-font-weight !important;
  text-transform: uppercase;
  font-size: calc(#{$font-size} * 1) !important;
  letter-spacing: 0.1em !important;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  width: 100%;
  text-align: center;

  @media (min-width: 992px) {
    width: unset;
  }


  &:focus,
  &:active,
  &:hover {
    background-color: $primary !important;
    border: 1px solid $primary !important;
    color: $black !important;
    box-shadow: unset !important;
  }
}


.btn-secondary {
  background-color: $primary !important;
  padding: 15px 50px;
  color: $black !important;
  border: 1px solid $primary !important;
  text-decoration: none !important;
  font-weight: $heavy-font-weight !important;
  text-transform: uppercase;
  font-size: calc(#{$font-size} * 1) !important;
  letter-spacing: 0.1em !important;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  width: 100%;
  text-align: center;

  @media (min-width: 992px) {
    width: unset;
  }


  &:focus,
  &:active,
  &:hover {
    background-color: transparent !important;
    border: 1px solid $primary !important;
    color: $primary !important;
    box-shadow: unset !important;
  }
}


.btn-secondary-alt {
  background-color: transparent !important;
  padding: 15px 50px;
  color: $primary !important;
  border: 1px solid $primary !important;
  text-decoration: none !important;
  font-weight: $heavy-font-weight !important;
  text-transform: uppercase;
  font-size: calc(#{$font-size} * 1) !important;
  letter-spacing: 0.1em !important;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  width: 100%;
  text-align: center;

  @media (min-width: 992px) {
    width: unset;
  }


  &:focus,
  &:active,
  &:hover {
    background-color: $primary !important;
    border: 1px solid $primary !important;
    color: $black !important;
    box-shadow: unset !important;
  }
}



//////////////////////////////////////////////////////////////
//                                                          ||
//                     Header Styles                        ||
//                                                          ||
//////////////////////////////////////////////////////////////
.title-text {
  padding: 10px 0;
  display: inline-block;
  text-transform: uppercase;

  &::after{
    content: '';
    border-top: 2px solid $primary !important;
    border-bottom: 4px solid $primary !important;
    border-width: 1px 0 3px 0;
    height: 12px;
    width: 100%;
    display: flex;
    margin-top: 10px;
  }
}

.h1-heading,
h1 {
  font-size: calc(#{$font-size} * 2.125) !important;
  font-weight: $light-font-weight !important;
  line-height: calc(#{$line-height} * 1.727) !important;
  font-family: $font-family;
  color: $primary;
  letter-spacing: 0.1em;
}

.h2-heading,
h2 {
  font-size: calc(#{$font-size} * 1.6875) !important;
  font-weight: $light-font-weight !important;
  line-height: calc(#{$line-height} * 1.45) !important;
  font-family: $font-family;
  color: $primary;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.h3-heading,
h3 {
  font-size: calc(#{$font-size} * 1.5) !important;
  font-weight: $heavy-font-weight !important;
  line-height: calc(#{$line-height} * 1.363) !important;
  font-family: $font-family;
  color: $primary;
  letter-spacing: 0.1em;
}

.h4-heading,
h4 {
  font-size: calc(#{$font-size} * 1.25) !important;
  font-weight: $heavy-font-weight !important;
  line-height: $line-height !important;
  font-family: $font-family;
  color: $primary;
  letter-spacing: 0.1em;
}

.h5-heading,
h5 {
  font-size: calc(#{$font-size} * 1.125) !important;
  font-weight: $font-weight !important;
  line-height: $line-height !important;
  font-family: $font-family;
  color: $primary;
  letter-spacing: 0.1em;
}

.h6-heading,
h6 {
  font-size: calc(#{$font-size} * 0.875) !important;
  font-weight: $font-weight !important;
  line-height: calc(#{$line-height} * 0.727) !important;
  font-family: $font-family;
  color: $primary;
  letter-spacing: 0.1em;
}

p {
  font-size: $font-size !important;
  font-weight: $font-weight !important;
  line-height: $line-height !important;
  color: $primary;
  font-family: $font-family;
}

.list-style li {
  font-size: $font-size !important;
  font-weight: $font-weight !important;
  line-height: $line-height !important;
  font-family: $font-family;
  color: $primary;
  padding: 0 0 12px 12px;
  margin-left: 30px;
}


@media (min-width: 992px) {
  .h1-heading,
  h1 {
    font-size: calc(#{$font-size} * 2.33) !important;
    font-weight: $font-weight !important;
    line-height: calc(#{$line-height} * 1.769) !important;
  }

  .h2-heading,
  h2 {
    font-size: calc(#{$font-size} * 1.88) !important;
    font-weight: $font-weight !important;
    line-height: calc(#{$line-height} * 1.461) !important;
  }

  .h3-heading,
  h3 {
    font-size: calc(#{$font-size} * 1.5) !important;
    font-weight: $heavy-font-weight !important;
    line-height: calc(#{$line-height} * 1.23) !important;
  }

  .h4-heading,
  h4 {
    font-size: calc(#{$font-size} * 1.33) !important;
    font-weight: $heavy-font-weight !important;
    line-height: calc(#{$line-height} * 1.153) !important;

  }

  .h5-heading,
  h5 {
    font-size: calc(#{$font-size} * 1.1) !important;
    font-weight: $font-weight !important;
    line-height: calc(#{$line-height} * 0.846) !important;

  }

  .h6-heading,
  h6 {
    font-size: calc(#{$font-size} * 0.77) !important;
    font-weight: $font-weight !important;
    line-height: calc(#{$line-height} * 0.72) !important;
  }

  p {
    font-size: $font-size !important;
    font-weight: $font-weight !important;
    line-height: $line-height !important;
    color: $primary;
    font-family: $font-family;
  }


}
//////////////////////////////////////////////////////////////
//                                                          ||
//                     Main Navigation                      ||
//                                                          ||
//////////////////////////////////////////////////////////////

.main-navigation{
    position: relative;
    z-index: 150;
}


.mobile-navigation-row{
  height: 65px;
}


.header-logo {
  img{
    width: 75px;
    @media (min-width: 992px) {
      width: unset;
    }
  }
}

.navbar {
  display: flex !important;
  padding-top: unset  !important;
  padding-bottom: unset !important;

  @media (min-width: 992px) {
    height: 90px;
  }

  .nav-logo {
    color: transparent !important;
  }


  .nav-social-menu-left{
    padding-right: 1rem;
    display: flex;
    align-items: center;
  }

  .nav-social-menu-right{
    padding-left: 1rem;
    border-left: 1px solid $primary;
    display: flex;
    align-items: center;
  }


  .nav-social-item{
    padding: 0 5px;

    svg{
      color: $primary;
      font-size: calc(#{$font-size} * 1.1);

      &:active,
      &:hover {
        color: $white !important;
      }
    }
  }

  .nav-menu-item {
    padding: 0 15px;
    .nav-menu-link {
      font-size: calc(#{$font-size} * 0.72) !important;
      line-height: calc(#{$line-height} * 0.615) !important;
      color: $primary !important;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: $heavy-font-weight;




      &:active,
      &:hover {
        color: $white !important;
      }
    }
  }

  .nav-menu-button {
    background-color: transparent !important;
    padding: 10px 15px;
    color: $primary !important;
    border: 1px solid $primary !important;
    text-decoration: none !important;
    font-weight: $heavy-font-weight;
    text-transform: uppercase;
    font-size: calc(#{$font-size} * 0.72 ) !important;
    letter-spacing: 0.1em !important;
    justify-content: center;
    align-items: center;
    display: inline-flex;


    &:focus,
    &:active,
    &:hover {
      background-color: $primary !important;
      border: 1px solid $primary !important;
      color: $black !important;
      box-shadow: unset !important;
    }
  }
}


.pb-30 {
  padding-bottom: 30px;
}

.pt-30 {
  padding-top: 30px;
}

#navbar-main-menu {
  @media (min-width: 992px) {
    padding: 0 50px;
  }
}
//////////////////////////////////////////////////////////////
//                                                          ||
//                  Mobile Navigation                       ||
//                                                          ||
//////////////////////////////////////////////////////////////
.mobile-nav {
    position: absolute;
    height: 100vh;
    left: -10000vw;
    width: 100vw;
    overflow: auto;
    margin: 0;
    transition: $transition-speed;
    z-index: 151;
    background-color: $black;


    .nav-social-item{
      padding: .75rem 5px;
      align-self: flex-end;

      svg{
        color: $primary;
        font-size: calc(#{$font-size} * 1.25);

        &:active,
        &:hover {
          color: $white !important;
        }
      }
    }


}

.nav-btn-close,
.nav-btn-open {
  background-color: transparent;
  color: $primary;
  border: 0;
  font-size: 1.75rem;


  &:focus{
    outline: none;
  }
}

#close-mobile-nav {
  display: none;
}

.mobile-nav-active {
  #close-mobile-nav {
    display: block;
  }

  #open-mobile-nav{
    display: none;
  }
}

.mobile-nav-menu-item {
  a {
    text-decoration: none !important;
    font-weight: $heavy-font-weight;
    font-size: 1.25rem;
    color: $primary;
    width: 100%;
    display: flex;
    padding: .75rem 0;
  }


  &:hover,
  &:active {
    color: $light;
    a {
      color: $light;
    }


  }
}

.mobile-nav-menu-item-bottom {
  text-decoration: none !important;
  font-weight: $heavy-font-weight !important;
  font-size: 1.25rem !important;
  color: $black;
  width: 100%;
  display: flex;
  padding: .75rem 1.5rem;
}




/////////////////////////////
//    Active Mobile Nav    //
/////////////////////////////

.mobile-nav-active {
    overflow: hidden;
    .mobile-nav {
        left: 0;
        transition: $transition-speed;
    }
}


//////////////////////////////////////////////////////////////
//                                                          ||
//                  CTA  +   Footer                         ||
//                                                          ||
//////////////////////////////////////////////////////////////
footer {
  background-color: $black;
  padding-bottom: 50px 0;

  color: $primary;

  .footer-border-top{
    border-top: 1px solid $primary;
    padding-top: 30px
  }


  @media (min-width: 1200px) {
    padding: 0 50px 0 50px;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;

  }


  ul li {
    display: inline-flex;
    padding: 0 10px;

    svg{
      font-size: calc(#{$font-size} * 1.25) !important;

      @media (min-width: 992px) {
          font-size: calc(#{$font-size} * 1.1) !important;
      }

    }


  }

  a {
    color: $primary !important;
    font-weight: $heavy-font-weight;

    &:active,
    &:hover {
      color: $white !important;
    }
  }


.footer-contact-div{
  text-align: center;

    @media (min-width: 992px) {
      text-align: right;
    }
  }
}

//////////////////////////////////////////////////////////////
//                                                          ||
//                      Home Page                           ||
//                                                          ||
//////////////////////////////////////////////////////////////
.index-jumbotron-section {
  padding-bottom: 25px;

  @media (min-width: 765px) {
    padding-bottom: 50px;
  }

  .index-jumbotron-content {
    // background-image: url("/images/assets/home/S/1687-home-marquee-bkgd-S.png");
    // background-size: contain;
    // background-position: top;
    // background-repeat: no-repeat;


    h1, p {
      text-align: center;

      @media (min-width: 765px) {
        text-align: left;
      }
    }
  }

  @media (min-width: 1200px) {
    .position-relative{
      img{
        position: absolute;
        top: 0;
        left: -135px;
      }
    }

    .index-jumbotron-content {
      margin-top: 335px;
      position: relative;
      z-index: 15;
    }
  }
}

.index-exclusive-section {
  padding-bottom: 25px;

  @media (min-width: 765px) {
    padding-bottom: 50px;
  }
}


.index-key-section{
  padding-bottom: 25px;

  @media (min-width: 765px) {
    padding-bottom: 50px;
  }
}

//////////////////////////////////////////////////////////////
//                                                          ||
//                         Roadmap                          ||
//                                                          ||
//////////////////////////////////////////////////////////////
.inner-roadmap-section {
  padding: 25px 0 50px 0;



  @media (min-width: 1200px) {
    padding: 0 0 50px 0;
    padding-bottom: 50px;
  }
}


.roadmap-row {
  padding: 0 13px;
}

.row-top {
  border-top: 1px solid $primary;
  display: flex;
  color: $primary;
  align-items: center;

    .roadmap-date{
        padding: 15px 0;
    }

    .roadmap-content {
      border-left: 1px solid $primary;
      padding: 15px 0;
      padding-left: 25px;
    }
}

.row-bottom {
  border-bottom: 1px solid $primary;
}


//////////////////////////////////////////////////////////////
//                                                          ||
//                             FAQ                          ||
//                                                          ||
//////////////////////////////////////////////////////////////


.faq-question {
  padding: 25px 0;
  border-top: 1px solid $primary;
}


.faq-question {
  padding: 25px 0;
  border-top: 1px solid $primary;
}

//////////////////////////////////////////////////////////////
//                                                          ||
//                  Request Access                          ||
//                                                          ||
//////////////////////////////////////////////////////////////
.request-access-form {
  input {
    border-radius: 0 !important;
    width: 100%;
    padding: 10px;
    border: 0;

    &:focus {
        outline: 0;
        box-shadow: 0 0 8px 0.15rem transparentize($primary, .25);
    }
  }
}


//////////////////////////////////////////////////////////////
//                                                          ||
//                           NFT                            ||
//                                                          ||
//////////////////////////////////////////////////////////////
.inner-nft-section {
    height: 325px;

    background-image: url('/images/assets/Inner/S/1687-NFT-marquee-S.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: 768px) {
      background-image: url('/images/assets/Inner/M/1687-NFT-marquee-M.jpg');
    }


    @media (min-width: 992px) {
      height: unset;
      background-image: url('/images/assets/Inner/L/1687-NFT-marquee-L.jpg');
    }

    @media (min-width: 1200px) {
        background-image: url('/images/assets/Inner/XL/1687-NFT-marquee-XL.jpg');
    }

    .nft-jumbotron-content {
      background-color: $black;
      padding: 1rem;
      margin: 50px 0
    }
}


.nft-border-section {
  .site-container-1200 {
    border-bottom: 1px solid $primary;
    padding-top: 25px;
    padding-bottom: 25px;

    @media (min-width: 1200px) {
        padding: 25px 0;
    }

  }
  &:last-child {
    .site-container-1200{
      border-bottom: unset;
    }
  }
}



//////////////////////////////////////////////////////////////
//                                                          ||
//                       Gallery                            ||
//                                                          ||
//////////////////////////////////////////////////////////////
.gallery-viewer{
  select{
    color: $primary;
    background: transparent;
    border: 0;
    border-radius: 0;
    padding: 10px 0;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='%23B88757' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 20px;
    border-bottom: 1px solid $primary;



    option {
        background: $primary;
        color: $black;
        outline: none !important;


        &:active,
        &:hover {
          background: $black;
          color: $primary;
        }
    }
  }

  .gallery-img-div{
      a {
        text-decoration: none;
          p{
            padding: 5px 0;
          }
        &:active,
        &:hover {
          p{
            color: $light;
          }
        }

      }

      img {
        object-fit: cover;
        width: 100%;
      }
    }
}
