<footer>
  <div class="container-fluid footer-border-top">
    <div class="row justify-content-between align-items-center px-lg-5">
      <div class="col-12 col-lg-auto order-2 order-lg-1 py-5 py-lg-0">
        <a href="/request-access" class="btn-primary-alt">request access</a>
      </div>

      <div class="col-12 col-lg-auto order-1 order-lg-2 text-center">
        <a href="/">
          <img src="/images/assets/brand/1687-logo.svg" alt="1687 logo">
          <span class="sr-only">Link to home</span>
        </a>
      </div>

      <div class="col-12 col-lg-auto text-right order-3 footer-contact-div">
          <ul class="ul-reset pb-3">
            <li>
              <a href="https://www.instagram.com/" target="_blank">
                <i class="fab fa-instagram"></i>
                <span class="sr-only">instagram social link</span>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/" target="_blank">
                <i class="fab fa-twitter"></i>
                <span class="sr-only">twitter social link</span>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/" target="_blank">
                <i class="fab fa-youtube"></i>
                <span class="sr-only">youtube social link</span>
              </a>
            </li>
            <li>
              <a href="https://discord.com/" target="_blank">
                <i class="fab fa-discord"></i>
                <span class="sr-only">discord social link</span>
              </a>
            </li>
          </ul>
          <p class="h6-heading mb-2">&copy; 2021 - 1687</p>
          <p class="h6-heading mb-2">
            <a href="/terms-of-use">Terms</a>
            <span>|</span>
            <a href="/privacy-policy">Privacy</a>
            <span>|</span>
            <a href="/accessibility-policy">Accessibility</a>
          </p>
          <p class="h6-heading">Made by <a href="https://growdnd.com/" target="_blank">GROW</a> <a href="https://growdnd.com/" target="_blank"><i class="far fa-external-link-alt"></i><span class="sr-only">exit link to growdnd</span>
        </a></p>
      </div>
    </div>
  </div>
</footer>
