{{ define "main"}}

<main id="main" class="pt-5">
  <section id="inner-jumbotron-section">
    <div class="site-container-992">
      <div class="row">
        <div class="col-12 ">
          <h1 class="h1-heading text-center">Error: this page is not found</h1>
        </div>
        <div class="col-12 text-center">
          <p>Use this link to go back to the homepage</p>
          <div class="py-5">
            <a href="/" class="btn-primary">Home</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{{ end }}
