{{ define "main" }}
<div class="homepage">

<section class="index-jumbotron-section">
  <div class="site-container-1200">
    <div class="row">
      <div class="col-12 col-md-6">
        <img src="/images/assets/home/M/1687-home-marquee-M.jpg" alt="" class="d-none d-md-block d-lg-none w-100">
        <img src="/images/assets/home/L/1687-home-marquee-L.jpg" alt="" class="d-none d-lg-block d-xl-none w-100">
        <img src="/images/assets/home/XL/1687-home-marquee-XL.jpg" alt="" class="d-none d-xl-block w-100">
      </div>

      <div class="col-12 col-md-6 position-relative">
          <img src="/images/assets/home/M/1687-title-M.png" alt="" class="d-none d-md-block d-lg-none w-100">
          <img src="/images/assets/home/L/1687-title-L.png" alt="" class="d-none d-lg-block d-xl-none w-100">
          <img src="/images/assets/home/XL/1687-title-XL.png" alt="" class="d-none d-xl-block w-100">

          <div class="index-jumbotron-content">
            <h1 class="py-3 py-lg-0">Icons. Influencers. Entrepreneurs.</h1>
            <p>1687 is an exclusive club created for people of influence. 1687 is comprised of icons, influencers and entrepreneurs who’s membership includes the most influential celebrities, athletes, artists, techies in the world.</p>

            <div class="py-3">
              <a href="/request-access" class="btn-primary">request access</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>

<div class="index-exclusive-section">
  <div class="site-container-1200">
    <div class="row align-items-center">
      <div class="col-12 col-lg-6">
        <h2 class="title-text d-sm-none">Exclusive<br>Benefits</h2>
        <h2 class="title-text d-none d-sm-inline-block">Exclusive Benefits</h2>
        <p>We partner with brands, creators, and IP-holders to brands generate revenue opportunities from the $10+ billion NFT market. 1687 NFT holders can leverage their social reach to maximize their NFT portfolio value or collaborate with our world-class multidisciplinary studio of developers, artists, photographers, and animators to collaborate on NFT projects which can be shared within, or outside of, the 1687 Club</p>
      </div>

      <div class="col-12 col-lg-6">
        <img src="/images/assets/home/S/1687-exclusive-benefits-S.jpg" alt="" class="d-md-none w-100">
        <img src="/images/assets/home/M/1687-exclusive-benefits-M.jpg" alt="" class="d-none d-md-block d-lg-none w-100">
        <img src="/images/assets/home/L/1687-exclusive-benefits-L.jpg" alt="" class="d-none d-lg-block d-xl-none w-100">
        <img src="/images/assets/home/XL/1687-exclusive-benefits-XL.jpg" alt="" class="d-none d-xl-block w-100">
      </div>
    </div>
  </div>
</div>

<div class="index-key-section">
  <div class="site-container-1200">
    <div class="row align-items-center">
      <div class="col-12 col-lg-6 order-2 order-lg-1">
        <img src="/images/assets/home/S/1687-NFT-S_alt.png" alt="" class="d-md-none w-100">
        <img src="/images/assets/home/M/1687-NFT-M_alt.png" alt="" class="d-none d-md-block d-lg-none w-100">
        <img src="/images/assets/home/L/1687-NFT-L_alt.png" alt="" class="d-none d-lg-block d-xl-none w-100">
        <img src="/images/assets/home/XL/1687-NFT-XL_alt.png" alt="" class="d-none d-xl-block w-100">
      </div>
      <div class="col-12 col-lg-6 order-1 order-lg-2">
        <h2 class="title-text d-sm-none">Join<br>The Club</h2>
        <h2 class="title-text d-none d-sm-inline-block">Your Key To The Club</h2>
        <p>1687 is an exclusive limited collection of 1687 unique NFTs permanently committed the Ethereum blockchain. A 1687 NFT is your membership card and grants access to members-only benefits.</p>
        <div class="py-3">
          <a href="/nft" class="btn-primary">The NFT</a>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
{{ end }}
